:root {
    /* основні шрифти */
    --main-font:'Roboto', sans-serif; 
    --secondary-font:'Raleway', sans-serif;
    /* кольори тексту */
    --primary-color: #212121;
    --accent-color: #2196F3;
    --color-text: #757575;
    --white-text: #ffffff;
    /* анімація */
    --animation:cubic-bezier(0.4, 0, 0.2, 1) ;
}